/* 
## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

- White: hsl(0, 0%, 100%)
- Light gray: hsl(212, 45%, 89%)
- Grayish blue: hsl(220, 15%, 55%)
- Dark blue: hsl(218, 44%, 22%)

## Typography

### Body Copy

- Font size (paragraph): 15px

### Font

- Family: [Outfit](https://fonts.google.com/specimen/Outfit)
- Weights: 400, 700 */
:root {
  --white: hsl(0, 0%, 100%);
  --lightGray: hsl(212, 45%, 89%);
  --grayishBlue: hsl(220, 15%, 55%);
  --darkBlue: hsl(218, 44%, 22%);
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--lightGray);
  -webkit-font-smoothing: antialiased;
}

body,
input,
button {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
}

button {
  cursor: pointer;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: var(--white);
  padding: 1em;
  text-align: center;
  width: 340px;
  border-radius: 5%;
  box-shadow: -2px 10px 24px -11px rgba(0, 0, 0, 0.2);
}

.card img {
  border-radius: 3%;
  width: 310px;
  margin: auto;
}

.card-title {
  padding: 0 1em;
}

.card-title h2 {
  margin-top: 1em;
  font-weight: 700;
  color: var(--darkBlue);
}

.card-title p {
  margin: 1em auto;
  font-size: 15px;
  word-spacing: 1.5px;
  color: var(--grayishBlue);
}

.attribution {
  position: fixed;
  bottom: 10px;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
